
.container {
	margin-right: auto;
    margin-left: auto;
    width: 1440px;
}
ul li {
	list-style-type: none;
}
body {
	margin: auto;
	padding: 0px;
	font-family: roboto;
	}
.menu {
display: flex;
}
.menu ul {
	display: flex;
}
.menu li {
 margin-left: 30px;
}
.menu li a {
	transition: all .3s ease;
	color: #000000;
	font-size: 14px;
	padding: 15px 0;
	display: inline-block;
}
.button__ {
	padding: 15px 10px!important;
	background: #d8d8d8;
}
table {
	border: 1px solid #777;
    border-collapse: collapse;
}
td {
	padding: 20px;
}
